.servicesWrap {
    background-color:#f0f7ff;
    padding: 3.5rem 0;

    .container {
        max-width: 1300px;
        padding: 0;

        .service {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 15%;
            background-color: #fff;
            border: 1px solid #e1e6ea;
            border-radius: 26px;
            text-align: center;
            padding: 2.5rem 1.5rem;
            color: #1e3353;
            font-weight: 600;

            img {
                margin-bottom: 1rem;
            }
        }
    }
}