.searchPageWrap{
    .bannerWrap {
        position: relative;

        h1 {
            margin: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 1.8rem;
            color: #fff;
        }
    }

    .searchWrap {
        padding: 2rem 0;
        background-color: #f3f3f3;

        .container {
            max-width: 1300px;
            padding: 0;

            .searchResWrapper {
                width: 73%;
                position: static;
                margin-bottom: auto;

                .noresults{
                    width: 100%;
                    text-align: center;
                    font-weight: 600;
                }

                .sortingOprions {
                    width: 100%;
                    margin-bottom: 1rem;
                    background-color: #fff;
                    padding: .5rem;

                    .btn{
                        cursor: pointer;

                        .btn-light {
                            background-color: #eee;
                        }
                    }
                }
            }
        }
    }
}