.footerWrap{

    .container {
        max-width: 1300px;
        padding: 0;
    }

    .topSecWrap {
        padding: 2rem 0;
        background: #04a9e0;
        background: -moz-linear-gradient(left,#04a9e0 0%,#26b186 100%);
        background: -webkit-linear-gradient(left,#04a9e0 0%,#26b186 100%);
        background: linear-gradient(to right,#04a9e0 0%,#26b186 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04a9e0',endColorstr='#26b186',GradientType=1);

        .container {
            background-repeat: no-repeat;
            background-position: left center;

            .footerBox {
                width: 28%;
                font-weight: 600;
                font-size: .9rem;
                color: #fff;

                &.menusBox {
                    width: 15%;
                }

                h4 {
                    margin-bottom: 1rem;
                    color: #1e3353;
                    font-weight: 600;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .bottomSecWrap {
        padding: 1rem 0;

        .container {
            align-items: center;
            font-weight: 600;
            font-size: .9rem;
            color: #1e3353;
        }
    }
} 