.mainBannerWrap{
    position: relative;

    .mainBanner {
        min-height: 657px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .searchWrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        color: #fff;
        font-weight: 600;
        font-size: 1.2rem;

        .welcomeText {
            font-size: 1.1rem;

            h1 {
                font-weight: 600;
            }
        }

        .searchWrap {
            width: 80%;
            margin: 3rem auto 5rem;

            .btn.otherBtn {
                color: #fff;
                background-color: #173a3c;
                box-shadow: 0 0 0;
                border-radius: 33px;
                font-weight: 600;
                padding: .5rem 2rem;
            }
        }
    }
}