.mainBannerWrap{
    position: relative;

    .mainBanner {
        min-height: 657px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .searchWrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        color: #fff;
        font-weight: 600;
        font-size: 1.2rem;

        .welcomeText {
            font-size: 1.1rem;

            h1 {
                font-weight: 600;
            }
        }

        .searchWrap {
            width: 80%;
            margin: 3rem auto 5rem;
        }
    }
}